# Django settings
DJANGO_SETTINGS_MODULE=config.settings
SECRET_KEY=<you secret here>
DEBUG=False
ALLOWED_HOSTS=0.0.0.0, localhost, 127.0.0.1, [::1]

# To store logs into the database
DRF_API_LOGGER_DATABASE=True