# ignore .git, .venv and .cache folders
.git
.venv
.cache

# secret files and private keys
.env

# Django stuff
db.sqlite3
staticfiles

# ignore all *.class files in all folders, including build root
**/*.class

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md
README-secret.md